body{
  background-color: #24353f;
}
h1{
  color: #17a2b8;
}
input{
  background-color: #24353f !important;
  color: white !important;
}












body {
  background: #24353f;
  font-family: 'Titillium Web', sans-serif;
}

#home {
  height: 75vh;
}

h1 {
  color: #17a2b8;
}

.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input,
textarea {
  background-color: transparent !important;
  color: #fff !important;
}

input#signinEmail {}

input::placeholder,
textarea::placeholder {
  color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0 transparent !important;
}